
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

/* img {
    width: 100%;
    display: flex;
} */

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif ;
    background-color: #e58f45;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo img {
    width: 100px;
    display: flex;
}



.cart img {
    width: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
}

.cart a {
   position: relative;
   display: flex;
   align-items: center;
   padding-bottom: 0.75rem;
}



.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}



.register {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link-register a {
    position: relative;
    color: #fff;
    padding-bottom: 3px;
}


.link a {
    position: relative;
    color: #fff;
    padding-bottom: 3px;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #354746;
    transition: all 0.3s ease;
}
.link-register a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #354746;
    transition: all 0.3s ease;
}
.cart a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #354746;
    transition: all 0.3s ease;
}




.link a:hover::after {
    width: 70%;
}
.link-register a:hover::after {
    width: 70%;
}
.cart a:hover::after {
    width: 80%;
}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
}

.caja1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

/* .cart a {
    position: relative;
    color: #fff;
    padding-bottom: 3px;
} */




header {
    position: relative;
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

header h1  {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 2rem;
}

header span {
    font-weight: 800;
    color: aliceblue;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #354746;
}

header p {
    color: #354746;
    font-size: 20px;
}

.caja1 img {
    max-width: 30%;
    opacity: 65%;
    margin: auto;
}


@media (max-width: 1200px) {
    body {
        background: red;
    }
}

@media (min-width: 576px) {
 

  
  
 nav {
    display: flex;
    flex-direction: column;
 }

  
}

